[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
pillow = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
